# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\psn-workspace\empty-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
